.promotions_top_hd {
    width: 100%;
    background-color: #16202c;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

.promotions_top_hd h1 {
    font-size: 20px;
    font-weight: 700;
}

.promotions_top_hd p {
    font-size: 14px;
    margin: 0px;
}

.promotions_block {
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 0%, rgba(35, 138, 63, 1) 100%);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0px 24px;
    height: 210px;
}

.promotions_block:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 110px;
    background: linear-gradient(0deg, rgba(29, 34, 43, 1) 0%, rgba(29, 34, 43, 0) 100%);
    border-radius: 10px;
    z-index: 666;
}

.promotions_block.runfast_block {
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 5%, #8F2127 100%);
}

.promotions_block.realdealers_block {
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 0%, #2D669D 100%);
}

.promotions_block.startbig_block {
    overflow: hidden;
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 0%, #931C66 100%);
}

.promotions_block.basketball_block {
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 0%, #11738A 100%);
}

.promotions_block.cricket_block {
    background: linear-gradient(90deg, rgba(30, 43, 45, 1) 0%, #955A20 100%);
}

.promotions_block.basketball_block .promotions_img_item {
    bottom: 44px;
}

.promotions_block.cricket_block .promotions_img_item {
    bottom: 20px;
}

.promotions_content_item {
    width: 50%;
    position: relative;
    z-index: 999;
}

.promotions_img_item {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.promotions_content_item h2 {
    font-size: 26px;
    font-weight: 900;
}

.promotions_content_item p {
    font-size: 14px;
    font-weight: 500;
    color: #ffffffc2;
    margin: 15px 0px 0px;
}

.promotions_grid {
    row-gap: 80px;
    column-gap: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}


@media (max-width: 1550px) {

    .promotions_content_item h2 {
        font-size: 20px; }

        .promotions_content_item p {
            font-size: 12px;
            margin: 10px 0px 0px;
        }

}

@media (max-width: 1200px) {

    .promotions_grid {
        row-gap: 60px;
        column-gap: 18px;
        grid-template-columns: repeat(2, 1fr);
    }

    .promotions_img_item {
        max-width: 180px;
    }
}


@media (max-width: 767px) {
    .promotions_img_item {
        max-width: 140px;
    }

    .promotions_block {
        height: 150px;
    } 
    .promotions_content_item h2 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {

    .promotions_grid {
        row-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .promotions_content_item h2 {
        font-size: 17px;
    }

    .promotions_top_hd h1 {
        font-size: 18px;
    }
    .promotions_top_hd p {
        font-size: 12px; }
}
