.new_deposit_page {
  width: 100%;
  display: block;
  min-height: 100vh;
  padding: 40px 0px;
  color: #fff;
  background-image: url('../../public/images/profilebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top_bar_hd {
  width: 100%;
  background-color: #1A1A19;
  border-radius: 8px;
  padding: 20px;
}

.top_bar_hd h2{ font-size: 20px; font-weight: 700; }
.top_bar_hd p{ font-size: 14px; margin: 0px; }
p.bank {
  font-size: 14px;
  margin: 20px 20px 0px;
}
.payment_topbr {
  width: 100%;
  display: flex;
  margin: 20px 0px;
  gap: 20px;
}

.payment_topbr button {
  font-size: 12px;
  font-weight: 600;
  background-color: #151515;
  border: 1px solid #2A2A2A;
  border-radius: 50px;
  padding: 8px 32px;
  color: #fff;
  box-shadow: 0px 3px #ffffff00;
}

.payment_topbr button.active{       background: linear-gradient(1turn, #AC5422 .8%, #F97A31);
  box-shadow: 0 4px 0px #5A2304, inset 0 4px 3px #ffffff4d;
  border: 1px solid #2A2A2A00;   }

  .payment_selected_dl {
    width: 100%;
    background-color: #1A1A19;
    border-radius: 7px;
    padding: 20px;
}

.payment_selected_dl ul{ display: grid; gap: 12px; align-items: center; justify-content: space-between; grid-template-columns: repeat(2, 1fr);}
.payment_selected_dl ul li{ width: 100%; }
.payment_selected_dl ul li button {
  text-align: center;
  font-weight: 600;
  width: 100%;
  background-color: #1A1A19;
  border: 1px solid #6E6E6E40;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: inset 0 7px 10px rgb(56 56 56 / 50%);
  color: #ffffff80;
  justify-content: center;
  display: flex;
  padding: 7px 10px;
}

p.note_text{ font-size: 13px; color: #E46F2C; margin: 15px 24px; }

.enter_amount_deposit {
  width: 100%;
  background-color: #1A1A19;
  border-radius: 8px;
  padding: 20px;
  margin-top: 24px;
  display: block;
}

.enter_amount_deposit h5{ font-size: 16px; }
.enter_filed.d-flex {
  text-align: center;
  font-weight: 600;
  width: 100%;
  background-color: #1A1A19;
  border: 1px solid #6E6E6E40;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: inset 0 7px 10px rgb(56 56 56 / 50%);
  color: #ffffff80;
  justify-content: space-between;
  display: flex;
  padding: 7px 10px;
  gap: 20px;
}

.enter_filed.d-flex input{ width: 100%; background: none; border: none; color: #fff;}
input:focus-visible{ outline: none; }

.enter_filed.d-flex button {
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
}

.payment_btn { margin-top: 24px; }

.payment_btn button{ 
  width: 100%;
  background: linear-gradient(1turn, #AC5422 .8%, #F97A31);
  box-shadow: 0 4px 0px #5A2304, inset 0 4px 3px #ffffff4d;
  border: 1px solid #2A2A2A00;  
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  padding: 8px 32px;
  color: #fff;
 }

 .account_detail_payment {
  width: 100%;
  display: block;
  margin: 24px 0px;
}

.account_detail_payment ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account_detail_payment ul li{ display: flex; align-items: center; gap:32px; }
.account_detail_payment ul li span{ min-width: 300px; }

@media (max-width: 991px) {

.new_deposit_page {
  padding: 20px 0px 80px; }

}


@media (max-width: 767px) {

  .account_detail_payment ul li span {
    min-width: 50%;
}

.account_detail_payment ul li {
  font-size: 13px; }

  .account_detail_payment h3{ font-size: 16px; }

  .top_bar_hd h2 {
    font-size: 18px;
}


}